@font-face {
    font-family: mama;
    src: url(/fonts/MamaBear.otf);
}
@font-face {
    font-family: coconut;
    src: url(/fonts/coconutz/coconutz.otf);
}
.mama{
    font-family: mama;
}
.coconut{
    font-family: coconut;
}
.header {
    background: url(/images/header.png);
    background-size: cover;
    background-position: center;
    height: 120vh;
    width: 100%;
}
.about {
    background: url(/images/about-bg.png) no-repeat center;
    background-size: 100% 100%;
    margin-top: -5vw;
}
.center-shadow {
    box-shadow : 21px 36px 10px 0px #00000040;
}
.roadmap {
    background: url(/images/road-bg.png) no-repeat center;
    background-size: 120% 100%;
}
.roadmap h1{
    -webkit-text-stroke: 2px #000;
}
.navbar {
    background: radial-gradient(606.22% 18790.6% at 100% 50%, #FFF6E5 0%, #FEFBF2 50%, #FFF2D9 100%);
    border: 4px solid #000;
}

@media (max-width:600px) {
    .roadmap {
    background: url(/images/road-bg.png) no-repeat center;
    background-size: 200% 100%;
}
.header {
    background: url(/images/header-bg-mobile.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
}
.about {
    background: url(/images/about-bg-mobile.png) no-repeat center;
    background-size: 100% 100%;
    margin-top: -15vw;
}
}